services:
  bambustudio:
    image: lscr.io/linuxserver/bambustudio:latest
    container_name: bambustudio
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DARK_MODE=true #optional
    volumes:
      - ./config:/config
    # ports:
    #   - 3000:3000
    #   - 3001:3001
    devices:
      - /dev/dri:/dev/dri
    shm_size: "1gb"
    restart: unless-stopped
    networks:
      - caddy

networks:
  caddy:
    name: caddy_net
    external: true
