homeassistant/config
adguardhome/conf
adguardhome/work
trillium/trillium-data
.env
caddy/config
caddy/data
*.env
paperless-ngx/docker-compose.env
qbittorrent/.*
qbittorrent/downloads
qbittorrent/incomplete
qbittorrent/qbittorrent_config
