adguardhome/conf
adguardhome/work
trillium/trillium-data
.env
caddy/data
*.env
paperless-ngx/docker-compose.env
qbittorrent/.*
qbittorrent/downloads
qbittorrent/incomplete
qbittorrent/qbittorrent_config
jellyfin/cache
jellyfin/index.html
invidious
*/config
