{
    email {$ACME_EMAIL}
}

home.jshen.net {
    encode gzip
    reverse_proxy homeassistant:8123
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

trillium.jshen.net {
    encode gzip
    reverse_proxy trillium:8080
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

paperless.jshen.net {
    encode gzip
    reverse_proxy paperless-webserver-1:8000
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

dozzle.jshen.net {
    encode gzip
    reverse_proxy dozzle:8080
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

qbittorrent.jshen.net {
    encode gzip
    reverse_proxy gluetun:8990
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

radarr.jshen.net {
    encode gzip
    reverse_proxy radarr:7878
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

sonarr.jshen.net {
    encode gzip
    reverse_proxy sonarr:8989
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

bazarr.jshen.net {
    encode gzip
    reverse_proxy bazarr:6767
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

prowlarr.jshen.net {
    encode gzip
    reverse_proxy prowlarr:9696
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

jellyseerr.jshen.net {
    encode gzip
    reverse_proxy jellyseerr:5055
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}
