{
    email {$ACME_EMAIL}
}

home.jshen.net {
    encode gzip
    reverse_proxy homeassistant:8123
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

trillium.jshen.net {
    encode gzip
    reverse_proxy trillium:8080
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

paperless.jshen.net {
    encode gzip
    reverse_proxy paperless-webserver-1:8000
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}

adguard.jshen.net {
    encode gzip
    reverse_proxy adguardhome:8090
    tls {
	issuer acme {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		disable_http_challenge
		disable_tlsalpn_challenge
	}
    }
}
