services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    ports:
      - 10000:8096/tcp # web portal
      # - 7359:7359/udp # client discovery, dont need it
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /data/media/:/data/media
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: ./fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    networks:
      - caddy

networks:
  caddy:
    name: caddy_net
    external: true
